<header>
  <nav class="bg-indigo-900 h-auto ">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-auto">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center  p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/menu
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.
  
              Heroicon name: outline/x
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          
        </div>
        <div class="logo w-full h-20  relative sm:hidden">
          <div class="logo w-20 h-10 bg-gray-200 absolute top-1/4" style="left: 42%"></div>
        </div>
        <div class="flex-1 flex items-center justify-start sm:items-stretch sm:justify-between">
          <div class="flex-shrink-0 flex items-center">
            <!-- <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow"> -->
            <img class="hidden lg:block h-12 w-25 bg-gray-700" src="" alt="Workflow">
          </div>
          <div class="hidden sm:block sm:ml-6 pt-6">
            <div class="flex items-center justify-end">
              <div class="flex border-2 rounded">
                  <input type="text" class="px-4 py-1 w-80 h-6 rounded-lg relative" >
                  <button class="flex items-center justify-center px-4 border-none absolute right-0 ">
                      <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24">
                          <path
                              d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                      </svg>
                  </button>
              </div>
          </div>
            <div class="flex space-x-4 pl-3 pt-3 pb-3   ">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="text-lg uppercase hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium" >Giới thiệu</a>
  
              <a href="#" class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Chuyên ngành</a>
  
              <a href="#" class=" text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Gói Học viên</a>
  
              <a href="#" class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tin tức & sự kiện</a>
              <a href="#" class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white pl-3 py-2 rounded-md text-sm font-medium">Liên hệ</a>
            
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <!-- <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
      
        <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Giới thiệu</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Chuyên ngành</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Gói Học viên</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Tin tức & sự kiện</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Liên hệ</a>

      </div>
    </div> -->
  </nav>
</header>

<div class="homepage lg:pt-10 ">
  <section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8"> 
    <div class="lg:pt-10 w-full h-1/2 flex flex-col lg:flex-row ">
        <div class="flex-1 bg-gray-200 lg:mr-4 ">
          <div style="width:200px; height:400px"></div>
      </div>
        <div class="flex-1 right new">
            <h2 class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-center lg:text-left pt:10 text-xl ">Tin tức - sự kiện</h2>
            <div class="pt-4 flex justify-start new-item">
              <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                <div class="banner-img"></div>
              </div>
              <div class="flex flex-col new-info">
                  <p class="text-base text-indigo-900 font-black new-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</p>
                  <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>                            
                  <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu thêm >></a> 
     
                </div>
             </div>

             <div class="hidden lg:block">
              <div class="pt-4 flex justify-start new-item">
                <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                  <div class="banner-img"></div>
                </div>
                <div class="flex flex-col new-info">
                    <p class="text-base text-indigo-900 font-black new-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</p>
                    <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>                            
                    <a href="#" class="text-indigo-900 text-base top-3 font-black new-link">Tìm hiểu thêm >></a> 

                  </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="pt-4 flex justify-start new-item">
                <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                  <div class="banner-img"></div>
                </div>
                <div class="flex flex-col new-info">
                    <p class="text-base text-indigo-900 font-black new-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</p>
                    <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>                            
                    <a href="#" class="text-indigo-900 text-xs top-3 font-black new-link">Tìm hiểu thêm >></a> 

                  </div>
              </div>
            </div>
             
           
        </div>
    </div>
  </section>


  <section class="lg:max-w-7xl pb-12 mx-auto lg:px-2 lg:px-6 lg:px-8 lg:pt-12">
    <div class="flex justify-between lg:flex-row flex-col-reverse lg:px-0 px-4">
        <div class="flex-1 mr-4 flex flex-col justify-between">
            <div class="intro-left__top">
                <div class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-xl lg:text-left text-center lg:pt-0 pt-10 "> Giới thiệu</div>
                <div class="lg:w-3/4 text-sm pb-3 text-indigo-900 font-bold lg:text-left w-full text-center">Học viện thẩm mỹ quốc tế Timona Academy tự hào là địa chỉ đào tạo chuyên
                    nghiệp nguồn nhân lực chất lượng cao cho ngành làm đẹp với cam kết 100%
                    việc làm cho học viên sau tốt nghiệp. Đồng thời, đây cũng là đơn vị uy tín cấp
                    phép bởi Sở LĐTBXH và được giới chuyên môn đánh giá cao trong công tác
                    đào tạo, ứng dụng công nghệ mới của ngành Thẩm mỹ.
                    Suốt hơn 6 năm hoạt động, Timona Academy luôn được hàng ngàn học viên
                    tín nhiệm là địa chỉ dạy nghề thẩm mỹ uy tín và chất lượng như một điểm sáng
                    giữa thực trạng “vàng thau lẫn lộn” các cơ sở dạy nghề hiện nay.
                </div>
            </div>
            <div class="text-indigo-900 text-xs top-3 font-black new-link">
                <a href="#" class="text-base">Tìm hiểu thêm >></a>
            </div>
        </div>

        <div class="flex-1 pt-10 lg:pt-0">
                <div class="flex-1 bg-gray-200 ">
                  <div style="width:300px; height:300px"></div>
                </div>
        </div>
    </div>
  </section>
  
  <section class="w-full h-full bg-indigo-900 rounded-xl lg:max-w-7xl pb-12 mx-auto lg:px-2 lg:px-6 lg:px-8 lg:pt-12">
    <div class="lg:px-20 px-4">
        <div class="flex flex-col justify-center items-center">
            <p class="lg:text-5xl text:xl font-bold text-white uppercase">Chuyên ngành đào tạo</p>
            <span class="item-des text-center lg:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus saepe ducimus, necessitatibus deserunt eos iusto minima voluptate doloribus quae, similique, hic corporis maiores magnam exercitationem reiciendis neque. Ex, perspiciatis?</span>
        </div>
        <div class="grid grid-cols-3 gap-x-8 gap-y-4 pt-10">
            <div class="gallery-item">
                <div class="item-img "></div>
                <div class="item-info">
                    <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                    <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                </div>
                <a class="#">Xem thêm >></a>
            </div>

            <div class="gallery-item hidden">
                <div class="item-img"></div>
                <div class="item-info">
                    <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                    <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                </div>
                <a class="#">Xem thêm >></a>
            </div>

            <div class="gallery-item hidden lg:block">
                <div class="item-img"></div>
                <div class="item-info">
                    <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                    <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                </div>
                <a class="#">Xem thêm >></a>
            </div>
           
            <div class="gallery-item hidden lg:block">
              <div class="item-img"></div>
              <div class="item-info">
                  <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                  <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
              </div>
              <a class="#">Xem thêm >></a>
          </div>

          <div class="gallery-item hidden lg:block">
            <div class="item-img"></div>
            <div class="item-info">
                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
            </div>
            <a class="#">Xem thêm >></a>
        </div>

        <div class="gallery-item hidden lg:block">
          <div class="item-img"></div>
          <div class="item-info">
              <div class="item-title">Phun xăm <br > thẩm mỹ</div>
              <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
          </div>
          <a class="#">Xem thêm >></a>
      </div>

      <div class="gallery-item hidden lg:block">
        <div class="item-img"></div>
        <div class="item-info">
            <div class="item-title">Phun xăm <br > thẩm mỹ</div>
            <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
        </div>
        <a class="#">Xem thêm >></a>
    </div>
            
        </div>


       
        
       
    </div>

   
    
    
  </section>
  
</div>