.home{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 80px;

}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 150px;
    background-color: rgb(8, 8, 109);
}
.header-left{

}
.logo{
    width: 150px;
    height: 60px;
    background-color: #ddd;
}
.header-right{
    display: flex;
    flex-direction: column;

}
.header-search{
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.search-input{
    width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}
.header-search i{
    position: absolute;
    right: 10px;
    top: 50%;
    border: 0;
    height: 100%;
}
.header-navbar{
padding: 15px 0 25px 0;
}
.navbar-menu{
    display: flex;
}
.navbar-item{
    list-style: none;
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
}


.homepage{
    padding-top: 50px;
    
}
.homepage-container{
    padding: 0 150px;
}
.news-events{
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.banner-img{
    flex: 1;
    
    background-color: #ddd;
    margin-right: 20px;
}
.events{    
flex: 1;
}
.events-title{
     font-size: 20px;
     color: rgb(8, 8, 109);
     text-transform: uppercase;
     position: relative;
     padding-left: 10px;
     margin-bottom: 20px;
     font-weight: bold;
}
.events-title::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
   
    background-color: rgb(8, 8, 109);
    left: 0;

}
.event-item{
   padding-top: 20px;
    display: flex;
    
    justify-content: flex-start;
}
.event-img{
    width: 160px;
   
    background-color: #ddd;
    padding-right: 20px;
    margin-right: 20px;
}
.event-info{
    display: flex;
    flex-direction: column;
}
.event-title{
    font-size: 16px;
    color: rgb(8, 8, 109);
    font-weight: bold;
}
.event-des{
    padding: 10px 0;
    font-size: 12px;
    color: rgb(15, 15, 168);
}
.event-item a{
    text-decoration: none;
    color: rgb(8, 8, 109);
    font-size: 10px;
    font-weight: bold;
    top: 15px;
}

.intro{
    padding-bottom: 50px;
}
.intro-wrapper{
    display: flex;
    justify-content: space-between;
}
.intro-left{
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-des{
    width: 90%;
    font-size: 16px;
    padding-bottom: 15px;
    color: rgb(15, 15, 168);
}
.intro-left a{
    text-decoration: none;
    color: rgb(8, 8, 109);
    font-weight: bold;
    font-size: 12px;
}
.intro-right{
   flex: 1;
}
.video-youtube{
    width: 100%;
    height: 250px;
    background-color: #ddd;
}
.specializ{
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 109);
    border-radius: 30px;
}
.specializ-wrapper{
    padding: 0 100px 50px 100px;
}
.specializ-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specializ-title{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: bold;   
}
.specializ-des{
    font-size: 16px;
    color: #fff;
    text-transform: initial;
    text-align: center;
    padding: 30px 0 40px 0;
}
.specializ-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
}
.gallery-item{

}
.item-img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ddd;
}
.item-info{
    width: 250px;
}
.item-info .item-title{
    color: rgb(209, 209, 12);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    
}
.item-info .item-des{
    font-size: 14px;
    color: #fff;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;

}
.gallery-item a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
}
.item-commit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-icon{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 10px;
}
.item-title-1{
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1px;
    text-align: center;
    text-transform: uppercase;
}
.lecturer-gallery{
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    column-gap: 40px;
}
.item-lecturer{
    display: flex;
}
.lecturer-img{
    width: 200px;
    height: 100%;
    background-color: #ddd;
    box-shadow: 8px 22px 24px -8px rgba(0,0,0,0.67);
    -webkit-box-shadow: 8px 22px 24px -8px rgba(0,0,0,0.67);
    -moz-box-shadow: 8px 22px 24px -8px rgba(0,0,0,0.67);
}
.lecturer-info{
    padding-top: 20px;
    padding-left: 20px;
}
.lecturer-title{
    color: #fff;
    font-size: 16px;
}
.lecturer-name{
    font-size: 20px;
    font-weight: bold;
    color: rgb(209, 209, 12);
    letter-spacing: 0.2px;
    text-transform: uppercase;    
    padding: 10px 0;
}
.lecturer-specializ{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    
}
.lecturer-info ul{
    padding-top: 10px;
}
.lecturer-info ul li{
    list-style: none;
    color: #fff;
    font-size: 10px;
    padding-top: 5px;
}
.lecturer-info ul li::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block; 
    width: 0.5rem;
    margin-left: -7px;
    
}
.statistical {
    margin-bottom: 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(122, 122, 32);
}
.statistical-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.statistical-item{
    display: flex;
}
.statistical-item_img{
    width: 50px;
    height: 50px;
    background-color: #ddd;
}
.statistical-item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    
}
.statistical-item_title{
    font-size: 24px;
    color: rgb(8, 8, 109);
    font-weight: 800;
    letter-spacing: 0.3px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.statistical_des{
    font-size: 18px;
    color: rgb(8, 8, 109);
    font-weight: bold;
    text-transform: uppercase;
}

.stories{
   
}
.stories-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.story-left{
   flex: 1;
   
   background-color: #fff;
   
   margin-right: 20px;
}
.story-right{
    flex: 1;
}
.story-info{
    display: flex;
    flex-direction: column;

}
.story-img{
    
}
.story-des{
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
.experts{
    padding: 0 100px ;
}
.expert-wrapper{
     display: flex;
     padding-top: 50px;
     padding-bottom: 50px;
     justify-content: space-between;
}
.expert-title{
    color: rgb(122, 122, 32);
}
.expert-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expert-boder{
    display: flex;
    border: 2px solid rgb(122, 122, 32);
    width: 400px;
    height: 220px;
    position: relative;
}
.expert-boder-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 20px;

}.expert-boder-right{
    width: 170px;
    height: 200px;
    background-color: #ddd;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.expert-boder-img{
    width: 80px;
    height: 50px;
    background-color: #ddd;
    margin-bottom: 25px;
}

.expert-boder-question{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(122, 122, 32);
    letter-spacing: 1px;
    width: 180px;
}
.button-play{
    width: 45px;
    height: 45px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}
.left-reverse{
    right: 20px;
    bottom: 50px;
    left: inherit;
    text-align: end;
}
.right-reverse{
    right: inherit;
    left: 20px;
    

}
.border-reverse{
    position: relative;
}
.img-reverse{
    position: absolute;
    top: -75px;
    right: 0;
}

.text-strong{
    font-size: 22px;
    font-weight: bold;
    color: rgb(122, 122, 32);
    padding: 10px 0;
}

.expert-question{
    color: rgb(122, 122, 32);
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 25px;
}

.newspaper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
}
.new-title{
font-size: 35px;
color: rgb(8, 8, 109);
text-transform: uppercase;
}
.new-social{
display: flex;
justify-content: space-around;
padding-top: 30px;
}
.new-img{
    width: 70px;
    height: 70px;
    background-color: #ddd;
    margin-right: 15px;
    margin-left: 15px;
}

.form-sale{
   
    background-color: rgb(8, 8, 109);
    padding-bottom: 50px;
    border-radius: 20px;
}
.form-wrapper{
    padding: 50px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    

}
.form-left{
    display: flex;
    flex: 1;
    
}
.form-left-info{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.form-title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: end;
    position: relative;
    
}
.form-title::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    
    background-color: #fff;
    bottom: -10px;
    right: 0;
}
.gif{
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    text-transform: uppercase;
    color: #fff;
}
.form-left-total{
    background-color: #ddd;
    width: 100px;
    height: auto;
    margin-left: 15px;
}
.form-right{
flex: 1;
}
.form-submit{
    display: flex;
    flex-wrap: wrap;
}
input{
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    padding-left: 20px;
    font-weight: bold;
    
}
.lastchild{
    margin-top: 30px;
}
::placeholder{
    color: #ddd;
    margin-left: 10px;
}
select{
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    width: 225px;
    height: 23px;
    margin-top: 30px;
    font-weight: bold;
    color:#ddd;
    padding-left: 20px;
    padding-right: 10px;
}
option{
    border: none;
    border-radius: 10px;
}
button{
    border: none;
    background-color: rgb(182, 182, 47);
    border-radius: 10px;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.footer{
    background-color: rgb(8, 8, 109);
    padding-top: 50px;
    margin-top: 50px;
}
.footer-container{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-wrapper{
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 50px;
}
.footer-wrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    height: 1px;
    
    background-color: #fff;
}
.footer-left{
    flex: 1;
    margin-right: 20px;
}
.footer-right{
    flex: 3;
    margin-left: 20px;
}
.footer-left-logo{
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    width: 120px;
    height: 70px;
    background-color: #ddd;
}
.icons-social{
    
}
.icon-item{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 10px;
}
.footer-left-notify{
    width: 100%;
    height: 80px;
    background-color: #ddd;
    margin-right: 40px;
}
.footer-right{

}
.footer-right-title{
    font-size: 20px;
    letter-spacing: 1px;
    width: 75%;
    color: rgb(179, 179, 1);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.footer-right-address{

}
.address-item{
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
}
.footer-right-contact{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.contact{
    font-size: 20px;
    color: rgb(179, 179, 1);
    font-weight: bold;
    text-transform: uppercase;
    
    
}
.email{
    position: relative;
}
.email::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    top: 35%;
    margin-left: -25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(179, 179, 1);
}
.footer-bottom{
    color: #fff;
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}
.footer-bottom::after{
    contain: "\A9";
    position: absolute;
    color: #fff;
}