
<div class="home">
    <section class="header">
        <div class="header-container">
            <div class="header-left">
                <div class="logo">
    
                </div>
            </div>
            <div class="header-right">
                <div class="header-search">
                    <input type="text" placeholder="Search" class="search-input"/>
                   <i>icon</i>
                </div>
                <div class="header-navbar">
                    <ul class="navbar-menu">
                        <li class="navbar-item">Giới thiệu</li>
                        <li class="navbar-item">Chuyên ngành</li>
                        <li class="navbar-item">Gói Học Viên</li>
                        <li class="navbar-item">Tin Tức và sự kiện</li>
                        <li class="navbar-item">Liên hệ</li>
    
    
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="homepage">
        <div class="homepage-container"> 
            <div class="news-events">
                <div class="banner-img">banner</div>
                <div class="events right">
                    <h2 class="events-title">Tin tức - sự kiện</h2>
                    <div class="event-item">
                        <div class="event-img"></div>
                        <div class="event-info">
                            <h2 class="event-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</h2>
                            <span class="event-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>                            <a href="#">Tìm hiểu thêm >></a> 
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-img"></div>
                        <div class="event-info">
                            <h2 class="event-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</h2>
                            <span class="event-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>                            <a href="#">Tìm hiểu thêm >></a>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-img"></div>
                        <div class="event-info">
                            <h2 class="event-title">Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái bình dương</h2>
                            <span class="event-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid beatae corrupti</span>
                            <a href="#">Tìm hiểu thêm >></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="intro">
                <div class="intro-wrapper">
                    <div class="intro-left">
                        <div class="intro-left__top">
                            <div class="events-title"> Giới thiệu</div>
                            <div class="intro-des">Học viện thẩm mỹ quốc tế Timona Academy tự hào là địa chỉ đào tạo chuyên
                                nghiệp nguồn nhân lực chất lượng cao cho ngành làm đẹp với cam kết 100%
                                việc làm cho học viên sau tốt nghiệp. Đồng thời, đây cũng là đơn vị uy tín cấp
                                phép bởi Sở LĐTBXH và được giới chuyên môn đánh giá cao trong công tác
                                đào tạo, ứng dụng công nghệ mới của ngành Thẩm mỹ.
                                Suốt hơn 6 năm hoạt động, Timona Academy luôn được hàng ngàn học viên
                                tín nhiệm là địa chỉ dạy nghề thẩm mỹ uy tín và chất lượng như một điểm sáng
                                giữa thực trạng “vàng thau lẫn lộn” các cơ sở dạy nghề hiện nay
                            </div>
                        </div>
                        <div class="intro-left__bottom">
                            <a href="#">Tìm hiểu thêm >></a>
                        </div>

                        
                    </div>

                    <div class="intro-right">
                            <div class="video-youtube">
                                youtube
                            </div>
                    </div>
                </div>
            </div>


            <div class="specializ">
                <div class="specializ-wrapper">
                    <div class="specializ-top">
                        <h2 class="specializ-title">Chuyên ngành đào tạo</h2>
                        <span class="specializ-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus saepe ducimus, necessitatibus deserunt eos iusto minima voluptate doloribus quae, similique, hic corporis maiores magnam exercitationem reiciendis neque. Ex, perspiciatis?</span>
                    </div>
                    <div class="specializ-gallery">
                        <div class="gallery-item">
                            <div class="item-img"></div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>

                        <div class="gallery-item">
                            <div class="item-img"></div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>

                        <div class="gallery-item">
                            <div class="item-img"></div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>
                        <div class="gallery-item">
                            <div class="item-img">img</div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>
                        <div class="gallery-item">
                            <div class="item-img"></div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>
                        <div class="gallery-item">
                            <div class="item-img"></div>
                            <div class="item-info">
                                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                            </div>
                            <a class="#">Xem thêm >></a>
                        </div>
                        
                    </div>
                    <div class="commit-wrapper">
                        <div class="specializ-top">
                            <h2 class="specializ-title">Cam kết</h2>
                            <span class="specializ-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus saepe ducimus, necessitatibus deserunt eos iusto minima voluptate doloribus quae, similique, hic corporis maiores magnam exercitationem reiciendis neque. Ex, perspiciatis?</span>
                        </div>
                        <div class="specializ-gallery">
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                            <div class="item-commit">
                                <div class="item-icon">img</div>
                                <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="lecturer-wrapper">
                        <div class="specializ-top">
                            <h2 class="specializ-title">Đội Ngũ giảng viên</h2>
                        </div>
                        <div class="lecturer-gallery">
                            
                                <div class="item-lecturer">
                                    <div class="lecturer-img">img</div>
                                    <div class="lecturer-info">
                                        <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                                        <h2 class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</h2>
                                        <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                                        <ul>
                                            <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                            <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-lecturer">
                                    <div class="lecturer-img">img</div>
                                    <div class="lecturer-info">
                                        <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                                        <h2 class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</h2>
                                        <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                                        <ul>
                                            <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                            <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-lecturer">
                                    <div class="lecturer-img">img</div>
                                    <div class="lecturer-info">
                                        <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                                        <h2 class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</h2>
                                        <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                                        <ul>
                                            <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                            <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-lecturer">
                                    <div class="lecturer-img">img</div>
                                    <div class="lecturer-info">
                                        <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                                        <h2 class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</h2>
                                        <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                                        <ul>
                                            <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                            <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="statistical">
                    <div class="statistical-wrapper">
                        <div class="statistical-item">
                            <div class="statistical-item_img">img</div>
                            <div class="statistical-item_info">
                                <h2 class="statistical-item_title">06</h2>
                                <span class="statistical_des">Cơ sở</span>
                            </div>
                        </div>
                        
                        <div class="statistical-item">
                            <div class="statistical-item_img">img</div>
                            <div class="statistical-item_info">
                                <h2 class="statistical-item_title">20.000 +</h2>
                                <span class="statistical_des">Học viên mỗi năm</span>
                            </div>
                        </div>
                        <div class="statistical-item">
                            <div class="statistical-item_img">img</div>
                            <div class="statistical-item_info">
                                <h2 class="statistical-item_title">100 %</h2>
                                <span class="statistical_des">Có việc làm</span>
                            </div>
                        </div>
                        <div class="statistical-item">
                            <div class="statistical-item_img">img</div>
                            <div class="statistical-item_info">
                                <h2 class="statistical-item_title">10 triệu</h2>
                                <span class="statistical_des">Lương khởi điểm</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stories">
                    <div class="specializ-top">
                        <h2 class="specializ-title">Câu chuyện học viên</h2>
                    </div>
                    <div class="stories-wrapper">
                    <div class="story-left">youtube</div>
                    <div class="item-lecturer story-right">
                        <div class="lecturer-img story-img">img</div>
                        <div class="lecturer-info story-info">
                            <span class="lecturer-title">Học viên</span>
                            <h2 class="lecturer-name">Trần LÊ <br> Mỹ Ngọc</h2>
                            <span class="lecturer-specializ">học viên ngoại khóa 35</span>
                            <span class="story-des">Sau nhiều năm theo đuổi ngành dược. Ngạc nhiên ra rằng bản thân không phù hợp nên đã tìm hiểu và lựa chon thay đổi</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="experts">
                    <div class="specializ-top">
                        <h2 class="specializ-title expert-title">học nghề cùng chuyên gia</h2>
                    </div>
                    <div class="expert-wrapper">
                        <div class="expert-video">
                            <div class="expert-boder">
                                <div class="expert-boder-left">
                                   <div class="expert-boder-img">logo</div>
                                   <div class="expert-boder-question">master thẩm mỹ khó hay dễ</div>
                                </div>
                                <div class="expert-boder-right">img</div>
                                <i class="button-play">icon</i>
                            </div>
                            <span class="expert-question">master thẩm mỹ - khó hay dễ?</span>
                        </div>
                        <div class="expert-video">
                            <div class="expert-boder border-reverse">
                                <div class="expert-boder-left left-reverse">
                                   <div class="expert-boder-img img-reverse">logo</div>
                                   <div class="expert-boder-question">cách thức <br> <strong class="text-strong">  tạo niềm tin</strong><br>nơi khách hàng</div>
                                </div>
                                <div class="expert-boder-right right-reverse">img</div>
                                <i class="button-play"></i>
                            </div>
                            <span class="expert-question">cách thức tạo niềm tin nơi khách hàng</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newspaper">
                <h2 class="new-title">Báo chí nói gì về timona academy</h2>
                <div class="new-social">
                    <div class="new-img">img</div>
                    <div class="new-img">img</div>
                    <div class="new-img">img</div>                    <div class="new-img">img</div>
                    <div class="new-img">img</div>  
                    <div class="new-img">img</div>
                    <div class="new-img">img</div>
                </div>
            </div>

            <div class="form-sale"> 
                <div class="form-wrapper">
                    <div class="form-left">
                        <div class="form-left-info">
                            <div class="form-title">Đăng ký khóa học</div>
                            <span class="gif">nhận ưu đãi</span>
                        </div>
                        <div class="form-left-total">img</div>
                    </div>
                    <div class="form-right">
                        <form class="form-submit">
                            <input type="text" name="" id="" placeholder="HỌ TÊN">
                            <input type="text" name="" id="" placeholder="SỐ ĐIỆN THOẠI">

                            <input type="text" name="" id="" class="lastchild" placeholder="MÃ GIỚI THIỆU">
                            <select>
                                <option >Khóa học</option>
                            </select>
                            <button>đăng kí ngay</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
        
        
    </section>

    <section class="footer">
        <div class="footer-container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <div class="footer-left-logo">
                        <div class="logo-footer">img</div>
                        <ul class="icons-social">
                            <li class="icon-item">icon</li>
                            <li class="icon-item">icon</li>
                            <li class="icon-item">icon</li>
                        </ul>
                    </div>
                    <div class="footer-left-notify">img</div>
                </div>
                <div class="footer-right">
                    <h2 class="footer-right-title">hệ thống học viện đào tạo thẩm mỹ quốc tế timona academy</h2>
                    <ul class="footer-right-address">
                        <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ Chí Minh</li>
                        <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
                        <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
                        <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
                        <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
                    </ul>
                    <div class="footer-right-contact">
                        <div class="contact phone">Đội ngũ tư vấn (24/7): 1900 2664</div>
                        <div class="contact email">Email: tuvan@tazaskinclinic.com</div>
                    </div>
                </div>
            </div>
            <h2 class="footer-bottom"> &#169; TIMONA ACADEMY</h2>
            
        </div>
            
    </section>
</div>